In [5]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics.pairwise import cosine_similarity
import pickle

In [6]:
# Load the Excel file
file_path = 'DataSets/places_final_edition.xlsx'
df1 = pd.read_excel(file_path)

In [58]:
# # Limit the dataset to the first 50 rows
# df1 = df.iloc[:50, :]

# # Display the first few rows of the limited dataset
# df1.head()

,name,activities,lat,lng,formatted_address,rating,user_ratings_total,user_ratings_total.1
0,Arugam Bay Beach,"['beach visits', 'beachfront dining', 'surfing']",6.840408,81.836848,"Arugam Bay Beach, Sri Lanka",4.8,1591.0,['Arugam Bay Beach is a surfer's paradise! I s...
1,Mirissa Beach,"['beach visits', 'beachfront dining', 'snorkel...",5.944703,80.459161,"Mirissa, Sri Lanka",4.6,1748.0,['Mirissa Beach is truly a gem on Sri Lanka's ...
2,Weligama Beach (surf and stay),"['beach visits', 'surfing']",5.972486,80.435714,"Weligama, Sri Lanka",4.4,325.0,['Weligama Beach is a fantastic spot for both ...
3,Ahangama,"['beach visits', 'surfing']",5.973975,80.362159,"Ahangama, Sri Lanka",NaN,NaN,['Ahangama was a bit disappointing for me as a...
4,Hikkaduwa Beach,"['beach visits', 'snorkeling', 'surfing', 'tur...",6.137727,80.099060,"Hikkaduwa Beach, Sri Lanka",4.7,1438.0,['Hikkaduwa Beach is a delightful escape for s...

In [7]:
df1.head()

,name,activities,rating,user_ratings_total,latest_reviews,cleaned_reviews
0,Arugam Bay Beach,"['beach visits', 'beachfront dining', 'surfing']",4.8,1591,['Arugam Bay Beach is a surfer's paradise! I s...,['Arugam Bay Beach is a surfer's paradise! I s...
1,Mirissa Beach,"['beach visits', 'beachfront dining', 'snorkel...",4.6,1748,['Mirissa Beach is truly a gem on Sri Lanka's ...,['Mirissa Beach is truly a gem on Sri Lanka's ...
2,Weligama Beach (surf and stay),"['beach visits', 'surfing']",4.4,325,['Weligama Beach is a fantastic spot for both ...,['Weligama Beach is a fantastic spot for both ...
3,Hikkaduwa Beach,"['beach visits', 'snorkeling', 'surfing', 'tur...",4.7,1438,['Hikkaduwa Beach is a delightful escape for s...,['Hikkaduwa Beach is a delightful escape for s...
4,Tangalle,"['beach visits', 'surfing']",5.0,3,['Tangalle was a bit of a letdown for me. The ...,['Tangalle was a bit of a letdown for me. The ...

In [8]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 390 entries, 0 to 389
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   name                390 non-null    object
 1   activities          390 non-null    object
 2   rating              390 non-null    float64
 3   user_ratings_total  390 non-null    int64
 4   latest_reviews      390 non-null    object
 5   cleaned_reviews     390 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 18.4+ KB

In [9]:
# Drop rows that contain any null values
data = df1.dropna()
data.head()

,name,activities,rating,user_ratings_total,latest_reviews,cleaned_reviews
0,Arugam Bay Beach,"['beach visits', 'beachfront dining', 'surfing']",4.8,1591,['Arugam Bay Beach is a surfer's paradise! I s...,['Arugam Bay Beach is a surfer's paradise! I s...
1,Mirissa Beach,"['beach visits', 'beachfront dining', 'snorkel...",4.6,1748,['Mirissa Beach is truly a gem on Sri Lanka's ...,['Mirissa Beach is truly a gem on Sri Lanka's ...
2,Weligama Beach (surf and stay),"['beach visits', 'surfing']",4.4,325,['Weligama Beach is a fantastic spot for both ...,['Weligama Beach is a fantastic spot for both ...
3,Hikkaduwa Beach,"['beach visits', 'snorkeling', 'surfing', 'tur...",4.7,1438,['Hikkaduwa Beach is a delightful escape for s...,['Hikkaduwa Beach is a delightful escape for s...
4,Tangalle,"['beach visits', 'surfing']",5.0,3,['Tangalle was a bit of a letdown for me. The ...,['Tangalle was a bit of a letdown for me. The ...

In [10]:
data.describe()

           rating  user_ratings_total
count  390.000000          390.000000
mean     4.460513         1542.046154
std      0.429419         3474.795235
min      0.900000            1.000000
25%      4.300000          135.250000
50%      4.500000          354.500000
75%      4.775000         1239.500000
max      5.000000        26736.000000

In [11]:
# structure of our dataset
# data = {
#     'name': ['Place A', 'Place B', 'Place C', 'Place D', 'Place E'],
#     'rating': [4.5, 3.9, 4.8, 4.2, 4.0],
#     'user_ratings_total': [200, 150, 180, 90, 130],
#     'activities': ['Hiking, Swimming', 'Beach', 'Hiking, Sightseeing', 'Beach, Hiking', 'Sightseeing, Swimming']
# }

places_df = pd.DataFrame(data)

# TF-IDF Vectorizer for Activities
tfidf = TfidfVectorizer(stop_words='english')
activities_matrix = tfidf.fit_transform(places_df['activities'])

# Normalize ratings and total ratings to bring them to the same scale
scaler = MinMaxScaler()
places_df[['Normalized_Average_Rating', 'Normalized_Total_Ratings']] = scaler.fit_transform(places_df[['rating', 'user_ratings_total']])

def recommend_places(preferred_activities, bucket_list_destination):
    # Add a boost to places that match the bucket list destination
    places_df['Bucket_List_Boost'] = places_df['name'].apply(lambda x: 10 if x == bucket_list_destination else 0)

    # Vectorize the user's activities
    user_activities_vector = tfidf.transform([preferred_activities])

    # Calculate the similarity between user preferences and place activities
    cosine_sim = cosine_similarity(user_activities_vector, activities_matrix)

    # Add similarity scores to the DataFrame
    places_df['Similarity_Score'] = cosine_sim[0]

    # Calculate the final score
    places_df['Final_Score'] = (
        (places_df['Similarity_Score'] * 0.5) + 
        (places_df['Normalized_Average_Rating'] * 0.2) + 
        (places_df['Bucket_List_Boost'] * 0.1) + 
        (places_df['Normalized_Total_Ratings'] * 0.2)
    )

    # Sort places based on the final score
    recommended_places = places_df.sort_values(by='Final_Score', ascending=False)

    # Return top 5 recommended places
    return recommended_places[['name', 'Final_Score']].head(5)

# Testing the model

In [14]:
# Example user inputs
preferred_activities = 'cycling, historical monuments, village homestays'
bucket_list_destination = 'Polonnaruwa, Hatton, Anuradhapura, Ella, Haputale'

# Call the function and display the recommended places
top_places = recommend_places(preferred_activities, bucket_list_destination)
print(top_places)

                                name  Final_Score
159                    Diyatha Uyana     0.486228
189               Heyna camping site     0.427864
20               Sri Dalada Maligawa     0.390244
85               Viharamahadevi Park     0.375025
353  Palace of King Nishshanka Malla     0.353580

# Save model as pickle

In [50]:
# Save the TF-IDF vectorizer
with open('tfidf_model.pkl', 'wb') as file:
    pickle.dump(tfidf, file)

# Save the processed DataFrame (places_df)
with open('places_df.pkl', 'wb') as file:
    pickle.dump(places_df, file)

print("Models saved successfully.")

Models saved successfully.

In [ ]:
# Load the TF-IDF vectorizer
with open('tfidf_model.pkl', 'rb') as file:
    loaded_tfidf = pickle.load(file)

# Load the processed DataFrame (places_df)
with open('places_df.pkl', 'rb') as file:
    loaded_places_df = pickle.load(file)

print("Models loaded successfully.")