In [2]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics.pairwise import cosine_similarity
import pickle

In [3]:
# Load the Excel file
file_path = 'DataSets/Places_Dataset_Test.xlsx'
df = pd.read_excel(file_path)

In [4]:
# Limit the dataset to the first 50 rows
df1 = df.iloc[:50, :]

# Display the first few rows of the limited dataset
df1.head()

,name,activities,lat,lng,formatted_address,rating,user_ratings_total,user_ratings_total.1
0,Arugam Bay Beach,"['beach visits', 'beachfront dining', 'surfing']",6.840408,81.836848,"Arugam Bay Beach, Sri Lanka",4.8,1591.0,['Arugam Bay Beach is a surfer's paradise! I s...
1,Mirissa Beach,"['beach visits', 'beachfront dining', 'snorkel...",5.944703,80.459161,"Mirissa, Sri Lanka",4.6,1748.0,['Mirissa Beach is truly a gem on Sri Lanka's ...
2,Weligama Beach (surf and stay),"['beach visits', 'surfing']",5.972486,80.435714,"Weligama, Sri Lanka",4.4,325.0,['Weligama Beach is a fantastic spot for both ...
3,Ahangama,"['beach visits', 'surfing']",5.973975,80.362159,"Ahangama, Sri Lanka",NaN,NaN,['Ahangama was a bit disappointing for me as a...
4,Hikkaduwa Beach,"['beach visits', 'snorkeling', 'surfing', 'tur...",6.137727,80.099060,"Hikkaduwa Beach, Sri Lanka",4.7,1438.0,['Hikkaduwa Beach is a delightful escape for s...

In [5]:
# Drop rows that contain any null values
data = df1.dropna()
data.head()

,name,activities,lat,lng,formatted_address,rating,user_ratings_total,user_ratings_total.1
0,Arugam Bay Beach,"['beach visits', 'beachfront dining', 'surfing']",6.840408,81.836848,"Arugam Bay Beach, Sri Lanka",4.8,1591.0,['Arugam Bay Beach is a surfer's paradise! I s...
1,Mirissa Beach,"['beach visits', 'beachfront dining', 'snorkel...",5.944703,80.459161,"Mirissa, Sri Lanka",4.6,1748.0,['Mirissa Beach is truly a gem on Sri Lanka's ...
2,Weligama Beach (surf and stay),"['beach visits', 'surfing']",5.972486,80.435714,"Weligama, Sri Lanka",4.4,325.0,['Weligama Beach is a fantastic spot for both ...
4,Hikkaduwa Beach,"['beach visits', 'snorkeling', 'surfing', 'tur...",6.137727,80.099060,"Hikkaduwa Beach, Sri Lanka",4.7,1438.0,['Hikkaduwa Beach is a delightful escape for s...
6,Unawatuna Beach,"['feeding fish', 'paddleboarding', 'snorkeling']",6.009686,80.248424,"Unawatuna Beach, Sri Lanka",4.8,1868.0,['Unawatuna Beach is a slice of paradise! The ...

In [7]:
# Structure of our dataset
# data = {
#     'name': ['Place A', 'Place B', 'Place C'],
#     'rating': [4.5, 3.9, 4.8],
#     'user_ratings_total': [200, 150, 180],
#     'activities': ['Hiking, Swimming', 'Beach', 'Hiking, Sightseeing']
# }

places_df = pd.DataFrame(data)

# TF-IDF Vectorizer for Activities
tfidf = TfidfVectorizer(stop_words='english')
activities_matrix = tfidf.fit_transform(places_df['activities'])

# Convert the matrix to a DataFrame to see the result
activities_df = pd.DataFrame(activities_matrix.toarray(), columns=tfidf.get_feature_names_out())

In [16]:
activities_df

,adventures,architecture,beach,beachfront,biking,bird,boat,butterfly,camping,climbing,...,tours,turtle,viewing,visit,visits,watching,water,whale,wildlife,yoga
0,0.000000,0.000000,0.406839,0.513895,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.320407,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.000000,0.000000,0.309503,0.390946,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.243750,0.283284,0.000000,0.472389,0.000000,0.000000
2,0.000000,0.000000,0.592287,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.466457,0.000000,0.000000,0.000000,0.000000,0.000000
3,0.000000,0.000000,0.383425,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.526194,0.000000,0.000000,0.301967,0.350944,0.000000,0.000000,0.000000,0.000000
4,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
5,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.365739,0.000000,0.000000,0.000000,0.000000,0.000000,0.365739,0.000000
6,0.000000,0.296930,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.814987,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
7,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.506164,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
8,0.000000,0.330392,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
9,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.643037,0.000000,...,0.000000,0.000000,0.402471,0.000000,0.000000,0.000000,0.000000,0.000000,0.402471,0.000000
10,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.525533,0.000000,0.000000,0.000000,0.000000,0.000000,0.525533,0.000000
11,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.525533,0.000000,0.000000,0.000000,0.000000,0.000000,0.525533,0.000000
12,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.525533,0.000000,0.000000,0.000000,0.000000,0.000000,0.525533,0.000000
13,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.525533,0.000000,0.000000,0.000000,0.000000,0.000000,0.525533,0.000000
14,0.000000,0.000000,0.000000,0.000000,0.000000,0.400881,0.000000,0.456512,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.661589,0.000000,0.000000,0.000000,0.000000
15,0.000000,0.000000,0.000000,0.000000,0.000000,0.400881,0.000000,0.456512,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.661589,0.000000,0.000000,0.000000,0.000000
16,0.000000,0.000000,0.000000,0.000000,0.000000,0.588944,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.485978,0.000000,0.000000,0.000000,0.000000
17,0.000000,0.000000,0.000000,0.000000,0.000000,0.501437,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.431852,0.000000,0.000000,0.413770,0.000000,0.000000,0.431852,0.000000
18,0.000000,0.291149,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
19,0.000000,0.291149,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
20,0.000000,0.307406,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.421870,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
21,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
22,0.532799,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
23,0.455641,0.332014,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
24,0.000000,0.000000,0.000000,0.000000,0.411955,0.000000,0.000000,0.340931,0.000000,0.370409,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.247043,0.000000,0.000000,0.000000,0.000000
25,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.599186,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
26,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.312883,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
27,0.000000,0.000000,0.287312,0.000000,0.000000,0.318690,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.226273,0.262973,0.438519,0.000000,0.000000,0.000000
28,0.000000,0.000000,0.479941,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.658649,0.000000,0.000000,0.377978,0.439284,0.000000,0.000000,0.000000,0.000000
29,0.000000,0.000000,0.592287,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.466457,0.000000,0.000000,0.000000,0.000000,0.000000
30,0.000000,0.000000,0.000000,0.447111,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.540254
31,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.618714,0.000000,0.000000,0.000000,0.000000,0.000000
32,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.618714,0.000000,0.000000,0.000000,0.000000,0.000000
33,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.477156,0.000000,0.000000,0.000000,0.000000,0.000000
34,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.477156,0.000000,0.000000,0.000000,0.000000,0.000000
35,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.477156,0.000000,0.000000,0.000000,0.000000,0.000000
36,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.477156,0.000000,0.000000,0.000000,0.000000,0.000000
37,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
38,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.558999,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.349872,0.000000
39,0.000000,0.392809,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [11]:
# Add the TF-IDF vectorized activities back to the main DataFrame
places_df = pd.concat([places_df, activities_df], axis=1)
places_df.head()

,name,activities,lat,lng,formatted_address,rating,user_ratings_total,user_ratings_total.1,adventures,architecture,...,tours,turtle,viewing,visit,visits,watching,water,whale,wildlife,yoga
0,Arugam Bay Beach,"['beach visits', 'beachfront dining', 'surfing']",6.840408,81.836848,"Arugam Bay Beach, Sri Lanka",4.8,1591.0,['Arugam Bay Beach is a surfer's paradise! I s...,0.0,0.00000,...,0.000000,0.0,0.0,0.0,0.320407,0.000000,0.0,0.000000,0.0,0.0
1,Mirissa Beach,"['beach visits', 'beachfront dining', 'snorkel...",5.944703,80.459161,"Mirissa, Sri Lanka",4.6,1748.0,['Mirissa Beach is truly a gem on Sri Lanka's ...,0.0,0.00000,...,0.000000,0.0,0.0,0.0,0.243750,0.283284,0.0,0.472389,0.0,0.0
2,Weligama Beach (surf and stay),"['beach visits', 'surfing']",5.972486,80.435714,"Weligama, Sri Lanka",4.4,325.0,['Weligama Beach is a fantastic spot for both ...,0.0,0.00000,...,0.000000,0.0,0.0,0.0,0.466457,0.000000,0.0,0.000000,0.0,0.0
4,Hikkaduwa Beach,"['beach visits', 'snorkeling', 'surfing', 'tur...",6.137727,80.099060,"Hikkaduwa Beach, Sri Lanka",4.7,1438.0,['Hikkaduwa Beach is a delightful escape for s...,0.0,0.00000,...,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0
6,Unawatuna Beach,"['feeding fish', 'paddleboarding', 'snorkeling']",6.009686,80.248424,"Unawatuna Beach, Sri Lanka",4.8,1868.0,['Unawatuna Beach is a slice of paradise! The ...,0.0,0.29693,...,0.814987,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0

In [13]:
places_df.describe()

,lat,lng,rating,user_ratings_total,adventures,architecture,beach,beachfront,biking,bird,...,tours,turtle,viewing,visit,visits,watching,water,whale,wildlife,yoga
count,40.000000,40.000000,40.000000,40.000000,40.000000,40.000000,40.000000,40.000000,40.000000,40.000000,...,40.000000,40.000000,40.000000,40.000000,40.000000,40.000000,40.000000,40.000000,40.000000,40.000000
mean,6.939242,80.611912,4.505000,3386.325000,0.024711,0.056046,0.076290,0.033799,0.010299,0.055271,...,0.030921,0.029621,0.090377,0.012654,0.138734,0.095161,0.010963,0.011810,0.091302,0.013506
std,0.843526,0.482311,0.307137,5725.122573,0.109434,0.124060,0.174681,0.121015,0.065136,0.151833,...,0.143575,0.131617,0.186613,0.080032,0.214173,0.192628,0.069336,0.074691,0.187832,0.085422
min,5.944703,79.846480,3.700000,174.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,6.110910,80.234399,4.300000,386.250000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,6.809544,80.570662,4.550000,1157.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,7.668051,80.852582,4.800000,2733.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.306577,0.000000,0.000000,0.000000,0.000000,0.000000
max,8.721837,81.836848,5.000000,26736.000000,0.532799,0.392809,0.592287,0.513895,0.411955,0.588944,...,0.814987,0.658649,0.525533,0.506164,0.618714,0.661589,0.438519,0.472389,0.525533,0.540254

In [14]:
# Normalize ratings and total ratings to bring them to the same scale
scaler = MinMaxScaler()
places_df[['Normalized_Average_Rating', 'Normalized_Total_Ratings']] = scaler.fit_transform(places_df[['rating', 'user_ratings_total']])

print(places_df)

                                            name  \
0                               Arugam Bay Beach
1                                  Mirissa Beach
2                 Weligama Beach (surf and stay)
4                                Hikkaduwa Beach
6                                Unawatuna Beach
7                                  Pigeon Island
8                               Galle Dutch Fort
9                       Polonnaruwa Ancient City
10                                      Sigiriya
11                            Yala National Park
12                       Udawalawe National Park
13                        Wilpattu National Park
14                       Wasgamuwa National Park
15                       Minneriya National Park
16                      Sinharaja Forest Reserve
17                   Horton Plains National Park
18                          Kumana National Park
19                         Bundala National Park
21                           Sri Dalada Maligawa
22  Dambulla Royal Cave Temple and Golden Temple
24                                     Mihintale
25                   Arankale Buddhist Monastery
26                           Ella Rock Trailhead
27                        Yapahuwa Rock Fortress
28                                      Knuckles
29                                Surathali Ella
30                        Sri Pada / Adam's Peak
31                                 Ventura Beach
32                                Tangalle Beach
33                                  Jungle Beach
36                              Hiriketiya Beach
38                       Colombo National Museum
39                            Dhanaja Gem Museum
40                                  Dutch Museum
41                         National Museum Galle
42                         Kandy National Museum
43                               Maritime Museum
44                           Trincomalee Harbour
45                                Negombo Lagoon
48                              Galle Lighthouse
3                                            NaN
5                                            NaN
20                                           NaN
23                                           NaN
34                                           NaN
35                                           NaN
37                                           NaN

                                           activities       lat        lng  \
0    ['beach visits', 'beachfront dining', 'surfing']  6.840408  81.836848
1   ['beach visits', 'beachfront dining', 'snorkel...  5.944703  80.459161
2                         ['beach visits', 'surfing']  5.972486  80.435714
4   ['beach visits', 'snorkeling', 'surfing', 'tur...  6.137727  80.099060
6    ['feeding fish', 'paddleboarding', 'snorkeling']  6.009686  80.248424
7   ['scuba diving', 'snorkeling', 'wildlife viewi...  8.721837  81.204071
8   ['architecture tours', 'history tours', 'photo...  6.030459  80.215021
9      ['guided tour', 'museum visit', 'sightseeing']  7.945942  81.000329
10  ['architecture photography', 'historic sites',...  7.957033  80.760257
11  ['safaris', 'wildlife viewing', 'camping', 'ph...  6.463961  81.471885
12     ['photography','safaris', 'wildlife viewing',]  6.474629  80.876319
13     ['photography','safaris', 'wildlife viewing',]  8.458182  80.051831
14     ['photography','safaris', 'wildlife viewing',]  7.753242  80.920774
15     ['photography','safaris', 'wildlife viewing',]  8.015644  80.844670
16  ['bird watching', 'butterfly watching', 'hikin...  6.406991  80.460027
17  ['bird watching', 'butterfly watching', 'hikin...  6.809446  80.802333
18       ['bird watching', 'photography','safaris']\n  6.572960  81.669253
19  ['bird watching', 'safaris' , 'wildlife viewing']  6.199086  81.210493
21  ['architecture photography', 'cultural experie...  7.293609  80.641325
22  ['architecture photography', 'cultural experie...  7.854914  80.650570
24  ['architecture tours', 'cultural experiences',...  8.350000  80.500000
25  ['cultural experiences', 'historical monuments...  7.639654  80.419198
26  ['hiking', 'landscape photography', 'outdoor a...  6.857849  81.044023
27  ['architecture photography', 'hiking', 'landsc...  7.817871  80.311620
28  ['butterfly watching', 'hiking', 'landscape ph...  7.442392  80.780961
29         ['hiking', 'photography', 'rock climbing']  6.745775  80.828835
30  ['hiking', 'spiritual retreats', 'sunrise view...  6.809643  80.499388
31  ['beach visits', 'bird watching', 'scuba divin...  6.423471  79.995320
32                ['beach visits', 'turtle watching']  6.022726  80.800836
33                     ['beach visits', 'snorkeling']  6.018694  80.239410
36  ['beachfront dining', 'surfing', 'yoga retreats']  5.962358  80.706811
38                                  ['museum visits']  6.909999  79.860903
39                                  ['museum visits']  6.704170  80.386357
40                   ['museum visits', 'sightseeing']  6.935962  79.851639
41                   ['museum visits', 'sightseeing']  6.028918  80.216879
42                   ['museum visits', 'sightseeing']  7.293339  80.642017
43                   ['museum visits', 'sightseeing']  6.028025  80.218056
44                                    ['sea cruises']  8.533333  81.250000
45              ['boat cruises', 'wildlife spotting']  7.158004  79.846480
48  ['architecture photography','historic sites','...  6.024561  80.219366
3                                                 NaN       NaN        NaN
5                                                 NaN       NaN        NaN
20                                                NaN       NaN        NaN
23                                                NaN       NaN        NaN
34                                                NaN       NaN        NaN
35                                                NaN       NaN        NaN
37                                                NaN       NaN        NaN

                    formatted_address  rating  user_ratings_total  \
0         Arugam Bay Beach, Sri Lanka     4.8              1591.0
1                  Mirissa, Sri Lanka     4.6              1748.0
2                 Weligama, Sri Lanka     4.4               325.0
4          Hikkaduwa Beach, Sri Lanka     4.7              1438.0
6          Unawatuna Beach, Sri Lanka     4.8              1868.0
7            Pigeon Island, Sri Lanka     4.5               174.0
8              Galle 80000, Sri Lanka     4.6             16934.0
9              Polonnaruwa, Sri Lanka     4.3               878.0
10                Sigiriya, Sri Lanka     4.9             18974.0
11                          Sri Lanka     4.1              2810.0
12                          Sri Lanka     4.3              6156.0
13                          Sri Lanka     4.7              2708.0
14              Nuwaragala, Sri Lanka     4.3               963.0
15                          Sri Lanka     4.6              1293.0
16                          Sri Lanka     4.3              2062.0
17                          Sri Lanka     4.7              8564.0
18                  Okanda, Sri Lanka     4.5               595.0
19                bundala , Sri Lanka     4.3               654.0
21                   Kandy, Sri Lanka     4.8             26736.0
22                Dambulla, Sri Lanka     4.2             11598.0
24               Mihintale, Sri Lanka     4.8               390.0
25              Kumbukwewa, Sri Lanka     4.9               261.0
26                    Ella, Sri Lanka     4.7               375.0
27                    Maho, Sri Lanka     5.0              1823.0
28                Knuckles, Sri Lanka     4.9               337.0
29              Belihuloya, Sri Lanka     4.8               519.0
30  Sri Pada / Adam's Peak, Sri Lanka     4.9              5430.0
31           Ventura Beach, Sri Lanka     4.4               516.0
32                Tangalle, Sri Lanka     4.2               511.0
33            Jungle Beach, Sri Lanka     4.6              2395.0
36        Hiriketiya Beach, Sri Lanka     4.4              2084.0
38                Colombo , Sri Lanka     4.6              5292.0
39              Ratnapura , Sri Lanka     4.0               179.0
40                Colombo , Sri Lanka     3.7               464.0
41                  Galle , Sri Lanka     4.2               357.0
42                   Kandy, Sri Lanka     3.9               304.0
43                  Galle , Sri Lanka     4.3              1022.0
44     Trincomalee Harbour, Sri Lanka     4.2               284.0
45          Negombo Lagoon, Sri Lanka     4.5               268.0
48                   Galle, Sri Lanka     4.8              4573.0
3                                 NaN     NaN                 NaN
5                                 NaN     NaN                 NaN
20                                NaN     NaN                 NaN
23                                NaN     NaN                 NaN
34                                NaN     NaN                 NaN
35                                NaN     NaN                 NaN
37                                NaN     NaN                 NaN

                                 user_ratings_total.1  adventures  \
0   ['Arugam Bay Beach is a surfer's paradise! I s...    0.000000
1   ['Mirissa Beach is truly a gem on Sri Lanka's ...    0.000000
2   ['Weligama Beach is a fantastic spot for both ...    0.000000
4   ['Hikkaduwa Beach is a delightful escape for s...    0.000000
6   ['Unawatuna Beach is a slice of paradise! The ...    0.000000
7   ['Pigeon Island is a gem! Snorkeling here was ...    0.000000
8   ["Galle Dutch Fort is a stunning blend of hist...    0.000000
9   ['Polonnaruwa Ancient City is a stunning place...    0.000000
10  ['Sigiriya was an unforgettable experience! Th...    0.000000
11  ['Yala National Park is a true gem for wildlif...    0.000000
12  ['Udawalawe National Park was absolutely breat...    0.000000
13  ['Wilpattu National Park is a fantastic destin...    0.000000
14  ['Wasgamuwa National Park exceeded my expectat...    0.000000
15  ['Minneriya National Park is a must-visit for ...    0.000000
16  ['Exploring Sinharaja Forest Reserve was a mag...    0.000000
17  ["Horton Plains National Park was an incredibl...    0.000000
18  ['Kumana National Park is an absolute delight ...    0.000000
19  ['Bundala National Park is a hidden gem for na...    0.000000
21  ['The Sri Dalada Maligawa, or Temple of the To...    0.000000
22  ['The Dambulla Royal Cave Temple is a breathta...    0.532799
24  ['Mihintale is an incredible place to immerse ...    0.000000
25  ['Visiting Arankale Buddhist Monastery was tru...    0.000000
26  ['The Ella Rock Trailhead offers an exhilarati...    0.000000
27  ['Yapahuwa Rock Fortress is a hidden gem in Sr...    0.000000
28  ['Knuckles is a breathtaking destination that ...    0.000000
29  ['Surathali Ella is a fantastic spot for natur...    0.000000
30  ['Hiking Adam's Peak was one of the most rewar...    0.000000
31  ['Ventura Beach is a hidden gem! The soft, whi...    0.000000
32  ['Tangalle Beach is a hidden gem! The soft san...    0.000000
33  ['Jungle Beach is a hidden gem! The trek to ge...    0.000000
36  ['Hiriketiya Beach has become my go-to spot fo...    0.000000
38  ['The Colombo National Museum is a treasure tr...    0.000000
39  ['The Dhanaja Gem Museum is a hidden gem in Ra...    0.000000
40  ['The Dutch Museum is a hidden treasure in Col...         NaN
41  ['The National Museum Galle is a charming litt...         NaN
42  ['The Kandy National Museum was a pleasant sur...         NaN
43  ['The Maritime Museum in Galle is a hidden gem...         NaN
44  ['Trincomalee Harbour is a stunning natural wo...         NaN
45  ['Negombo Lagoon was a delightful escape! We t...         NaN
48  ['Galle Lighthouse is an absolute gem! The vie...         NaN
3                                                 NaN    0.000000
5                                                 NaN    0.000000
20                                                NaN    0.000000
23                                                NaN    0.455641
34                                                NaN    0.000000
35                                                NaN    0.000000
37                                                NaN    0.000000

    architecture  ...   viewing     visit    visits  watching     water  \
0       0.000000  ...  0.000000  0.000000  0.320407  0.000000  0.000000
1       0.000000  ...  0.000000  0.000000  0.243750  0.283284  0.000000
2       0.000000  ...  0.000000  0.000000  0.466457  0.000000  0.000000
4       0.000000  ...  0.000000  0.000000  0.000000  0.000000  0.000000
6       0.296930  ...  0.000000  0.000000  0.000000  0.000000  0.000000
7       0.000000  ...  0.000000  0.506164  0.000000  0.000000  0.000000
8       0.330392  ...  0.000000  0.000000  0.000000  0.000000  0.000000
9       0.000000  ...  0.402471  0.000000  0.000000  0.000000  0.000000
10      0.000000  ...  0.525533  0.000000  0.000000  0.000000  0.000000
11      0.000000  ...  0.525533  0.000000  0.000000  0.000000  0.000000
12      0.000000  ...  0.525533  0.000000  0.000000  0.000000  0.000000
13      0.000000  ...  0.525533  0.000000  0.000000  0.000000  0.000000
14      0.000000  ...  0.000000  0.000000  0.000000  0.661589  0.000000
15      0.000000  ...  0.000000  0.000000  0.000000  0.661589  0.000000
16      0.000000  ...  0.000000  0.000000  0.000000  0.485978  0.000000
17      0.000000  ...  0.431852  0.000000  0.000000  0.413770  0.000000
18      0.291149  ...  0.000000  0.000000  0.000000  0.000000  0.000000
19      0.291149  ...  0.000000  0.000000  0.000000  0.000000  0.000000
21      0.000000  ...  0.000000  0.000000  0.000000  0.000000  0.000000
22      0.000000  ...  0.000000  0.000000  0.000000  0.000000  0.000000
24      0.000000  ...  0.000000  0.000000  0.000000  0.247043  0.000000
25      0.000000  ...  0.000000  0.000000  0.000000  0.000000  0.000000
26      0.000000  ...  0.312883  0.000000  0.000000  0.000000  0.000000
27      0.000000  ...  0.000000  0.000000  0.226273  0.262973  0.438519
28      0.000000  ...  0.000000  0.000000  0.377978  0.439284  0.000000
29      0.000000  ...  0.000000  0.000000  0.466457  0.000000  0.000000
30      0.000000  ...  0.000000  0.000000  0.000000  0.000000  0.000000
31      0.000000  ...  0.000000  0.000000  0.618714  0.000000  0.000000
32      0.000000  ...  0.000000  0.000000  0.618714  0.000000  0.000000
33      0.000000  ...  0.000000  0.000000  0.477156  0.000000  0.000000
36      0.000000  ...  0.000000  0.000000  0.477156  0.000000  0.000000
38      0.000000  ...  0.000000  0.000000  0.000000  0.000000  0.000000
39      0.392809  ...  0.000000  0.000000  0.000000  0.000000  0.000000
40           NaN  ...       NaN       NaN       NaN       NaN       NaN
41           NaN  ...       NaN       NaN       NaN       NaN       NaN
42           NaN  ...       NaN       NaN       NaN       NaN       NaN
43           NaN  ...       NaN       NaN       NaN       NaN       NaN
44           NaN  ...       NaN       NaN       NaN       NaN       NaN
45           NaN  ...       NaN       NaN       NaN       NaN       NaN
48           NaN  ...       NaN       NaN       NaN       NaN       NaN
3       0.000000  ...  0.000000  0.000000  0.301967  0.350944  0.000000
5       0.000000  ...  0.365739  0.000000  0.000000  0.000000  0.000000
20      0.307406  ...  0.000000  0.000000  0.000000  0.000000  0.000000
23      0.332014  ...  0.000000  0.000000  0.000000  0.000000  0.000000
34      0.000000  ...  0.000000  0.000000  0.477156  0.000000  0.000000
35      0.000000  ...  0.000000  0.000000  0.477156  0.000000  0.000000
37      0.000000  ...  0.000000  0.000000  0.000000  0.000000  0.000000

       whale  wildlife      yoga  Normalized_Average_Rating  \
0   0.000000  0.000000  0.000000                   0.846154
1   0.472389  0.000000  0.000000                   0.692308
2   0.000000  0.000000  0.000000                   0.538462
4   0.000000  0.000000  0.000000                   0.769231
6   0.000000  0.000000  0.000000                   0.846154
7   0.000000  0.000000  0.000000                   0.615385
8   0.000000  0.000000  0.000000                   0.692308
9   0.000000  0.402471  0.000000                   0.461538
10  0.000000  0.525533  0.000000                   0.923077
11  0.000000  0.525533  0.000000                   0.307692
12  0.000000  0.525533  0.000000                   0.461538
13  0.000000  0.525533  0.000000                   0.769231
14  0.000000  0.000000  0.000000                   0.461538
15  0.000000  0.000000  0.000000                   0.692308
16  0.000000  0.000000  0.000000                   0.461538
17  0.000000  0.431852  0.000000                   0.769231
18  0.000000  0.000000  0.000000                   0.615385
19  0.000000  0.000000  0.000000                   0.461538
21  0.000000  0.000000  0.000000                   0.846154
22  0.000000  0.000000  0.000000                   0.384615
24  0.000000  0.000000  0.000000                   0.846154
25  0.000000  0.000000  0.000000                   0.923077
26  0.000000  0.000000  0.000000                   0.769231
27  0.000000  0.000000  0.000000                   1.000000
28  0.000000  0.000000  0.000000                   0.923077
29  0.000000  0.000000  0.000000                   0.846154
30  0.000000  0.000000  0.540254                   0.923077
31  0.000000  0.000000  0.000000                   0.538462
32  0.000000  0.000000  0.000000                   0.384615
33  0.000000  0.000000  0.000000                   0.692308
36  0.000000  0.000000  0.000000                   0.538462
38  0.000000  0.349872  0.000000                   0.692308
39  0.000000  0.000000  0.000000                   0.230769
40       NaN       NaN       NaN                   0.000000
41       NaN       NaN       NaN                   0.384615
42       NaN       NaN       NaN                   0.153846
43       NaN       NaN       NaN                   0.461538
44       NaN       NaN       NaN                   0.384615
45       NaN       NaN       NaN                   0.615385
48       NaN       NaN       NaN                   0.846154
3   0.000000  0.000000  0.000000                        NaN
5   0.000000  0.365739  0.000000                        NaN
20  0.000000  0.000000  0.000000                        NaN
23  0.000000  0.000000  0.000000                        NaN
34  0.000000  0.000000  0.000000                        NaN
35  0.000000  0.000000  0.000000                        NaN
37  0.000000  0.000000  0.000000                        NaN

    Normalized_Total_Ratings
0                   0.053347
1                   0.059258
2                   0.005685
4                   0.047587
6                   0.063775
7                   0.000000
8                   0.630977
9                   0.026504
10                  0.707778
11                  0.099240
12                  0.225209
13                  0.095399
14                  0.029704
15                  0.042128
16                  0.071079
17                  0.315865
18                  0.015850
19                  0.018071
21                  1.000000
22                  0.430088
24                  0.008132
25                  0.003275
26                  0.007567
27                  0.062081
28                  0.006137
29                  0.012988
30                  0.197877
31                  0.012876
32                  0.012687
33                  0.083616
36                  0.071907
38                  0.192681
39                  0.000188
40                  0.010918
41                  0.006890
42                  0.004894
43                  0.031925
44                  0.004141
45                  0.003539
48                  0.165613
3                        NaN
5                        NaN
20                       NaN
23                       NaN
34                       NaN

In [15]:
# bucket_list_destination = 'Place A'  # Example bucket list destination

# Add a boost to places that match the bucket list destination
places_df['Bucket_List_Boost'] = places_df['name'].apply(lambda x: 10 if x == bucket_list_destination else 0)

NameError: name 'bucket_list_destination' is not defined

In [2]:
# Example user input: preferred activities and bucket list destination
# user_activities = 'Hiking, Swimming'

# Vectorize the user's activities
user_activities_vector = tfidf.transform([user_activities])

# Calculate the similarity between user preferences and place activities
cosine_sim = cosine_similarity(user_activities_vector, activities_matrix)

# Add similarity scores to the DataFrame
places_df['Similarity_Score'] = cosine_sim[0]

ModuleNotFoundError: No module named 'sklearn'

In [ ]:
# Calculate the final score
places_df['Final_Score'] = (
    (places_df['Similarity_Score'] * 0.5) + 
    (places_df['Normalized_Average_Rating'] * 0.2) + 
    (places_df['Bucket_List_Boost'] * 0.1) + 
    (places_df['Normalized_Total_Ratings'] * 0.2)
)

# Sort places based on the final score
recommended_places = places_df.sort_values(by='Final_Score', ascending=False)

# Display top 5 recommended places
print(recommended_places[['Place', 'Final_Score']].head(5))